* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
    background-color:rgb(116, 75, 5);
    color: white;
    padding: 20px;
    font-size: 24px;
}
main {
    background-image: url(../images/pic_5.jpg);
    background-size: 100%;
    min-height: 90vh;
    display: grid;
    justify-content: center;
    align-content: center;
    position: relative;
    background-color:moccasin;
    z-index: 1;
}
.headline {
    font-size: 30px;
    text-align: left;
    padding: 0px 20px 30px;
    color: rgb(161, 105, 7);
}
section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    -moz-column-gap: 10px;
         column-gap: 10px;
}
section > img {
    width: 100%;
    height: 360px;
    border: 5px solid rgb(116, 75, 5);
    -o-object-fit: cover;
       object-fit: cover;
}
section .history {
    background-color: rgb(240, 200, 151);
    border: 5px solid rgb(116, 75, 5);
    height: 360px;
    font-size: 16px;
    overflow: hidden;
}
section .history > p {
    width: 320px;
    margin: 28px 12px;
}
.slideshow-container {
    background-color:rgb(116, 75, 5);
    position: relative;
    width: 100%;
    height: 100%;
    border: 5px solid rgb(116, 75, 5);
    z-index: 2;
    overflow: hidden;
}
.slide {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    opacity: 1;
}
.slide1 {
    animation: slide-right 25s 0s linear infinite;
}
.slide2 {
    animation: slide-right 25s 5s linear infinite;
}
.slide3 {
    animation: slide-right 25s 10s linear infinite;
}
.slide4 {
    animation: slide-right 25s 15s linear infinite;
}
.slide5 {
    animation: slide-right 25s 20s linear infinite;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes slide-right {
    0% {
        left: 0;
        z-index: 2;
        opacity: 1;
        transform: rotate(0deg)
    }
    5% {
        left: 150%;
        opacity: 0;
        transform: rotateZ(180deg);
    }
    75% {
        left: 150%;
        transform: rotateZ(0deg);
    }
    76% {
        left: 0;
        z-index: -2;
        opacity: 1;
    }
}